{% extends 'base.html.twig' %}

{% block title %}Pagedacceuil index{% endblock %}

{% block body %}

    <h1>Pagedacceuil index</h1>

    <table class="table table-hover table-borderless">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pagedacceuil in pagedacceuils %}
            <tr>
                <td>{{ pagedacceuil.id }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('pagedacceuil_edit', {'id': pagedacceuil.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('pagedacceuil_new') }}">Create new</a>
{% endblock %}
