<form method="post" action="{{ path('offreemploi_delete', {'id': offreemploi.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ offreemploi.id) }}">
    <button class="btn">Delete</button>
</form>
