/* Footer */

#ul-footer {
  display: inline-grid;
  grid-auto-flow: row;
  justify-items: left;
  margin: auto;
}

#a-footer {
  color: white;
  text-decoration: none;
}

#a-footer:hover {
  color: #EB956A ;
}

#div-footer {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #522914;
  font-family: Calibri;
}
#li-footer{
  list-style-type: none;
}
#address{
color:white;
}
