p{
  color:black;
  text-align: justify;
}

body{
  background-color: #9E5A37;
}

#div-accueil{
  background-color: white;
  margin: 20px;
  padding: 5px;
  border-radius: 10px;
}

#plan{
  display: block;
  margin-left: auto;
  margin-right: auto
}

table{
  table-layout: auto;
  width: 100%;
}
td{
  text-align: center;
}