<form method="post" action="{{ path('demandeprojet_delete', {'id': demandeprojet.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ demandeprojet.id) }}">
    <button class="btn btn-warning">Delete</button>
</form>
