<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <link rel="steelsheet" href="https://bootswatch.com/5/sandstone/bootstrap.min.css">
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
	<link rel="stylesheet" href="{{ asset("assets/styles/app.css") }}">
        {% endblock %}

    </head>
    <body>
        {% include 'nav.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'footer.html.twig' %}  
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}  
    </body>
</html>
