<div class="container-fluid pb-0 mb-0 justify-content-center text-light ">
	<footer>
		<div class="row my-5 justify-content-center py-5">
			<div class="col-11">
				<div class="row ">
					<div class="col-xl-2 col-md-4 col-sm-4 col-12">
						<ul class="list-unstyled">
							<a class="nav-link" href="#">Partenaire</a> |
							<a class="nav-link" href="#">Mentions légales</a> |
							<a class="nav-link" href="#">Recrutement</a> |
							<a class="nav-link" href="#">Contact</a>
						</ul>
					</div>
				</div>
				<div class="row ">
					<div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
						<small class="rights">
							<!--<span>&#174;</span>-->
							Copyright © 2021 NYLS</small>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>
