<footer>

    <div class="contenu-footer">

        <div class="bloc footer-adresse">
            <ul class="ul-adresse">
                <li class="li-adresse">ABC Legermain</li>
                <li class="li-adresse">Zone Artisanale</li>
                <li class="li-adresse">72140 Rouez en Champagne</li>
                <li class="li-adresse">02 47 36 70 34</li>
                <li class="li-adresse">info@legermain.com</li>
            </ul>
        </div>

        <div class="bloc footer-liens">
            <ul class="ul-lien">
                <li id="li-footer"><a class="a-footer" href="https://twitter.com/julesforrest">Mention légales</a></li>
                <li id="li-footer"><a class="a-footer" href={{ 'offreemploi' }}>Recrutement</a></li>
                <li id="li-footer"><p class="droit">© 2021 Copyright: NYLS</p></li>
                <li><p class="dev">Développé par : Brocherie Nathan, Proix Lucas, Sy Yahya, Paolorsi Simon</p></li>
            </ul>
        </div>

        <div class="bloc footer-image">
            <div class="footer-image">
                <img src="Images/Logos/fondation-du-patrimoine.jpg" width="67px" height="68px">
                <img src="Images/Logos/logo_qualibat.png" width="67px" height="64">
                <img src="Images/Logos/logo-maitreartisan.png" width="89px" height="67px">
            </div>

        </div>

    </div>
</footer>
