<div id="div-footer">
	<ul id="ul-footer">
		<table id="table-footer">
			<tr>
				<li id="li-footer">
					<a id="a-footer" href="https://twitter.com/julesforrest">Twitter</a>
				</li>
				<li id="li-footer">
					<a id="a-footer" href="https://codepen.io/julesforrest">Codepen</a>
				</li>
				<li id="li-footer">
					<a id="a-footer" href="mailto:julesforrest@gmail.com">Email</a>
				</li>
				<li id="li-footer">
					<a id="a-footer" href="https://dribbble.com/julesforrest">Dribbble</a>
				</li>
				<li id="li-footer">
					<a id="a-footer" href="https://github.com/julesforrest">Github</a>
				</li>
			</tr>
		</table>

	</ul>
</div>