<hr>
    <div id="div-footer">
        <ul id="ul-footer">
            <a id="address">
                ABC Legermain <br>
                Zone Artisanale <br>
                72140 Rouez en Champagne
            </a>
        </ul>

            <li id="li-footer">
                <a id="a-footer" href="https://twitter.com/julesforrest">Mention légales</a>
            </li>
            <li id="li-footer">
                <a id="a-footer" href={{ 'offreemploi'}}>Recrutement</a>
            </li>

        <div id="div-footer">
            <img src="Images/Logos/fondation-du-patrimoine.jpg" width="67px" height="68px">
            <img src="Images/Logos/logo_qualibat.png" width="67px" height="64">
            <img src="Images/Logos/logo-maitreartisan.png" width="89px" height="67px">

        </div>
    </div>
<div class="div-footer">© 2021 Copyright:
    <p>Développé par : Brocherie Nathan, Proix Lucas, Sy Yahya, Paolorsi Simon</p>
</div>
