<nav>

    <ul class="nav-list">
        <li class="nav-item" id="Logo">
            <a href="/"><img alt="Logo" src="/Images/Logo.png" width="50" height="50"></a>
        </li>
        <li class="nav-item">
            <a href="/">Accueil</a>
        </li>
        <li class="nav-item">
            <a href={{ path('article_index') }}>Nos Créations</a>
        </li>
        <li class="nav-item">
            <a href={{ path('offreemploi_index') }}>Recrutement</a>
        </li>
        <li class="nav-item">
            <a href=#>Contact</a>
        </li>
        <li class="nav-item">
            <a href="{{ path('app_register') }}">Créer un compte</a>
        </li>
    </ul>
</nav>
