{% extends 'base.html.twig' %}

{% block title %}New Reponseoffre{% endblock %}

{% block body %}
    <h1>Create new Reponseoffre</h1>

    {{ include('reponseoffre/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('reponseoffre_index') }}">back to list</a>
{% endblock %}
